<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score
from scipy import stats
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier

In [25]:
from sklearn.linear_model import LogisticRegression

data = pd.read_csv("train.csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [26]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
df2 = data.drop(["Name","Ticket","PassengerId","Cabin"],axis = 1)
df2.dropna(inplace = True)

In [28]:
df2['Sex'] = df2.Sex.replace({'male':1, 'female':0})
df2

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    1  22.0      1      0   7.2500        S
1           1       1    0  38.0      1      0  71.2833        C
2           1       3    0  26.0      0      0   7.9250        S
3           1       1    0  35.0      1      0  53.1000        S
4           0       3    1  35.0      0      0   8.0500        S
..        ...     ...  ...   ...    ...    ...      ...      ...
885         0       3    0  39.0      0      5  29.1250        Q
886         0       2    1  27.0      0      0  13.0000        S
887         1       1    0  19.0      0      0  30.0000        S
889         1       1    1  26.0      0      0  30.0000        C
890         0       3    1  32.0      0      0   7.7500        Q

[712 rows x 8 columns]

In [29]:
df2['Embarked'] = df2.Embarked.replace({'C':1, 'Q':2, 'S':3})
df2

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         3
1           1       1    0  38.0      1      0  71.2833         1
2           1       3    0  26.0      0      0   7.9250         3
3           1       1    0  35.0      1      0  53.1000         3
4           0       3    1  35.0      0      0   8.0500         3
..        ...     ...  ...   ...    ...    ...      ...       ...
885         0       3    0  39.0      0      5  29.1250         2
886         0       2    1  27.0      0      0  13.0000         3
887         1       1    0  19.0      0      0  30.0000         3
889         1       1    1  26.0      0      0  30.0000         1
890         0       3    1  32.0      0      0   7.7500         2

[712 rows x 8 columns]

In [30]:
X = df2.drop(['Survived', 'Age', 'SibSp', 'Parch', 'Embarked'], axis=1)
y = df2["Survived"].copy()

In [31]:
scaler = StandardScaler()
z = scaler.fit_transform(X)

data = pd.DataFrame(z, columns=X.columns)
data

       Pclass       Sex      Fare
0    0.908600  0.756138 -0.516380
1   -1.482983 -1.322511  0.694046
2    0.908600 -1.322511 -0.503620
3   -1.482983 -1.322511  0.350326
4    0.908600  0.756138 -0.501257
..        ...       ...       ...
707  0.908600 -1.322511 -0.102875
708 -0.287191  0.756138 -0.407687
709 -1.482983 -1.322511 -0.086335
710 -1.482983  0.756138 -0.086335
711  0.908600  0.756138 -0.506928

[712 rows x 3 columns]

In [32]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=.3)

## Entrenando algunos modelos

In [37]:
lr = LogisticRegression(C=100).fit(X_train, y_train)

In [34]:
print('R-squared test score: {:.3f}'
     .format(clf.score(X_test, y_test)))
print('R-squared train score: {:.3f}'
     .format(clf.score(X_train, y_train)))

R-squared test score: 0.776
R-squared train score: 0.777

In [35]:
for a in [0.001,0.1,1,100]:
    clr = LogisticRegression(C=a).fit(X_train, y_train)
    print('for C = {}'.format(a))
    print('R-squared test score: {:.10f}'
     .format(clr.score(X_test, y_test)))
    print('R-squared train score: {:.10f} \n'
     .format(clr.score(X_train, y_train)))

for C = 0.001
R-squared test score: 0.6355140187
R-squared train score: 0.6184738956

for C = 0.1
R-squared test score: 0.7710280374
R-squared train score: 0.7791164659

for C = 1
R-squared test score: 0.7757009346
R-squared train score: 0.7771084337

for C = 100
R-squared test score: 0.7757009346
R-squared train score: 0.7771084337

In [36]:
for a in [1,3,5,11]:
    knn = KNeighborsClassifier(n_neighbors=a).fit(X_train, y_train)
    print('for K = {}'.format(a))
    print('R-squared test score: {:.10f}'
     .format(knn.score(X_test, y_test)))
    print('R-squared train score: {:.10f} \n'
     .format(knn.score(X_train, y_train)))

for K = 1
R-squared test score: 0.8130841121
R-squared train score: 0.9056224900

for K = 3
R-squared test score: 0.8037383178
R-squared train score: 0.8674698795

for K = 5
R-squared test score: 0.7616822430
R-squared train score: 0.8393574297

for K = 11
R-squared test score: 0.7897196262
R-squared train score: 0.8192771084

In [15]:
from sklearn.svm import LinearSVC

for c in [0.0001,0.1,10,100]:
    clf = LinearSVC(C=c).fit(X_train,y_train)
    print('for c = {}'.format(c))
    print('R-squared test score: {:.10f}'
     .format(clf.score(X_test, y_test)))
    print('R-squared train score: {:.10f} \n'
     .format(clf.score(X_train, y_train)))

for c = 0.0001
R-squared test score: 0.7476635514
R-squared train score: 0.7751004016

for c = 0.1
R-squared test score: 0.7570093458
R-squared train score: 0.7891566265

for c = 10
R-squared test score: 0.7570093458
R-squared train score: 0.7891566265

for c = 100
R-squared test score: 0.7289719626
R-squared train score: 0.7751004016

D:\archivos_de_programa\conda\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
D:\archivos_de_programa\conda\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

## Metricas de clasificación binaria

In [16]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(max_depth=2).fit(X_train, y_train)
tree_predicted = dt.predict(X_test)
confusion = confusion_matrix(y_test, tree_predicted)

print('Decision tree classifier (max_depth = 2)\n', confusion)

Decision tree classifier (max_depth = 2)
 [[122   7]
 [ 40  45]]

In [17]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
# Accuracy = TP + TN / (TP + TN + FP + FN)
# Precision = TP / (TP + FP)
# Recall = TP / (TP + FN)  Also known as sensitivity, or True Positive Rate
# F1 = 2 * Precision * Recall / (Precision + Recall) 
print('Accuracy: {:.2f}'.format(accuracy_score(y_test, tree_predicted)))
print('Precision: {:.2f}'.format(precision_score(y_test, tree_predicted)))
print('Recall: {:.2f}'.format(recall_score(y_test, tree_predicted)))
print('F1: {:.2f}'.format(f1_score(y_test, tree_predicted)))

Accuracy: 0.78
Precision: 0.87
Recall: 0.53
F1: 0.66

In [18]:
# Combined report with all above metrics
from sklearn.metrics import classification_report

print(classification_report(y_test, tree_predicted, target_names=['not 1', '1']))

              precision    recall  f1-score   support

       not 1       0.75      0.95      0.84       129
           1       0.87      0.53      0.66        85

    accuracy                           0.78       214
   macro avg       0.81      0.74      0.75       214
weighted avg       0.80      0.78      0.77       214

## Decision functions

In [38]:
y_scores_lr = lr.fit(X_train, y_train).decision_function(X_test)
y_score_list = list(zip(y_test[0:20], y_scores_lr[0:20]))

# show the decision_function scores for first 20 instances
y_score_list

[(1, 2.4918506499584256),
 (0, 0.42566842968254165),
 (1, -0.10432642732929542),
 (0, -2.2390678146817695),
 (0, 0.41267967429662417),
 (1, 2.77848457383634),
 (0, -1.2432092324046593),
 (1, 2.5996076806142114),
 (0, -1.223137455879616),
 (1, 2.455367571353383),
 (0, -2.2410042779215935),
 (0, -2.2389069316730073),
 (1, -2.237884043061635),
 (0, -2.238604619838884),
 (0, -2.228800328997805),
 (1, 0.41000348889271204),
 (0, -2.2390806297390893),
 (0, -2.2389069316730073),
 (0, -2.2079565610679524),
 (1, -2.238604619838884)]

In [39]:
y_proba_lr = lr.fit(X_train, y_train).predict_proba(X_test)
y_proba_list = list(zip(y_test[0:20], y_proba_lr[0:20,1]))

# show the probability of positive class for first 20 instances
y_proba_list

[(1, 0.923568541901821),
 (0, 0.6048388564902321),
 (1, 0.4739420234736483),
 (0, 0.09629663330245615),
 (0, 0.6017302400871625),
 (1, 0.9415020367406717),
 (0, 0.22387786643157573),
 (1, 0.9308363263798777),
 (0, 0.22738478796119213),
 (1, 0.9209530859138427),
 (0, 0.09612824700583829),
 (0, 0.09631063482908002),
 (1, 0.09639969860272055),
 (0, 0.09633694971952865),
 (0, 0.09719385791503157),
 (1, 0.6010887154190981),
 (0, 0.09629551809590964),
 (0, 0.09631063482908002),
 (0, 0.09903825924930819),
 (1, 0.09633694971952865)]